* {
    border: 0px dashed gray;
}

html {
    font-size: 14px;
    font-family: 'Comfortaa';
}




























/* Body Tags */

header {
    text-align: left;
}

nav {
    font-size: 1.5rem;
}

main {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    background-color: lightgray;
    color: white;

    font-size: 1rem;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
}





















/* Text Tags */


h1 {
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
    padding: 2rem;
}


p {
    margin: 0;
    padding: 3rem;
    line-height: 1.8rem;
}

nav a {
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 2px rgb(236, 236, 236) solid;
    border-radius: 1rem;
    color: black;

}

nav a:hover {
    background-color: lightgray;
    color: white;    
    transition: 0.2s;
}





table {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}


form input {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin: 0 0 0 20px;
}

td {
    padding: 10px;

}















/* IDs */


#topFlexboxContainer {
    display: flex;
    height: auto;
    width: auto;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    align-content: center;
    padding: 4rem 0 1rem 0;
    background-color: rgb(236, 236, 236);

}

#grid {
    display: grid;
    position: relative;
    grid-template-areas:
        "left items items right"
        "left projectsExpanded projectsExpanded right"
        "quote1 quote1 quote1 quote1";

    grid-template-rows: auto auto;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-gap: 2rem 0rem;
    width: 100;
    min-width: 30rem;
    margin: auto;
    justify-items: stretch;
    /* Below doesn't work for some reason? Could need an external div for it to position into? */
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}



#quote1 {
    grid-area: quote1;
    background: lightblue;
    position: relative;
    width: 100%;
    height: auto;
    padding: 3rem 0rem 5rem 0rem;
    margin: 5rem 0 5rem 0;
}

#quote1 h2 {
    font-size: 2rem;
    color: white;
    font-style: italic;
    font-weight: 200;

}

#quote1 p {
    font-size: 1.2rem;
    color: white;
    font-weight: 200;
    line-height: 1.8rem;
    padding: 0 3rem 0 3rem;

}

#colourModeButton {
    position: fixed;
    bottom: 4rem;
    left: 2rem;
    height: 3rem;
    width: 3rem;
    border: lightgray solid 2px;
    border-radius: 50%;
    background-color: white;
    z-index: 10;
    font-size: 1.5rem;
    color: lightgray;
}

#colourMode:hover {
    background-color: white;
    color: black;
    border: black solid 2px;
}



#welcomeSelfieFlexbox {
    width: 40%;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 1rem 0.5rem lightgray;
    object-fit: cover;
}

#welcomeMessageFlexbox {
    width: 40%;
    text-align: left;
}




#projectsExpanded {
    grid-area: projectsExpanded;
}




#project1Info {
    display: none;
    
}
#project2Info {
    display: none;
    
}
#project3Info {
    display: none;
    
}

#projectAnswer {
    display: none;
    font-size: 1.2rem;
    margin: 4rem;
    border-radius: 10px;
    font-weight: bolder;
}





#projectsExpanded {
    background-color: rgb(243, 243, 243);
    padding: 2.5rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    margin: 4rem 4rem 20rem 4rem;
}

#luhnAlgorithm {
    width: 100%;
    max-width: 800px;
    border: 2px solid black;
    border-radius: 20px;
}









/* Classes */



.topFlexbox {
    height: 6rem;
    margin: 0rem;
    text-align: center;
    line-height: 3rem;

}

.flexboxContainer {
    grid-area: items;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    flex-flow: row wrap;
    /* align-content: start; */
    padding: 4rem 0 2rem 0;
}

.flexboxProjects {
    flex-grow: 1;
    min-width: 220px;
    max-width: 300px;
    border: 0px dashed gray;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem 1rem 0.2rem lightgray;
    margin: 2rem;
    padding-top: 2rem;
}






.numberBox {
    border: 1px solid black;
    width: 30rem;
    height: 3rem;
    font-size: 2rem;
    letter-spacing: 0.7rem;
    text-align: center;
    border: none;
   
}



.answerButton {
    margin: 0.5rem;
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: lightblue;
    color: white;
    font-weight: bolder;
}

.resetButton {
    margin: 0.5rem;
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: darkgrey;
    color: white;
    font-weight: bolder;
}

.currentLink {
    border: 2px grey solid;
}












/* Media Queries */



@media only screen and (max-width: 800px) {
   

    a {
        font-size: 1.5rem;
    }

    #welcomeSelfieFlexbox {
        min-width: 0px;
        width: 70%;
    }
    
    #welcomeMessageFlexbox {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    #grid {

        grid-template-areas:
            "items"
            "projectsExpanded"
            "quote1";
        grid-template-columns: 1fr;
        grid-gap: 2rem 0rem;
        min-width: 0rem;


    }

    #projectsExpanded {
        background-color: rgb(243, 243, 243);
        padding: 1rem;
        border-radius: 0rem;
        font-size: 1.2rem;
        margin: 5rem 0 5rem 0;
    }

   
    h2 {
        font-size: 1.5rem;
    }

    .numberBox {
        border: 1px solid black;
        width: 20rem;
        height: 3rem;
        font-size: 1rem;
        letter-spacing: 0.7rem;
        text-align: center;
        
    }

    #projectAnswer {
        font-size: 1rem;
        margin: 3rem;
    }

    p {
        padding: 0.5rem;
    }
    
}